
#main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.registration-wrapper,
#adaugare-nota-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.registration-title,
.form-title {
  padding-bottom: 20px;
}