{% extends 'base.html.twig' %}

{% block body %}
  <div class="row center">
    <div class="col-xs-12">
      {% form_theme form 'bootstrap_4_layout.html.twig' %}
      {% block fos_user_content %}{% endblock %}
    </div>
  </div>
{% endblock %}